<div class="container">
  <form [formGroup]="formApoliceSeguro" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input class="form-control" formControlName="nomeSegurado" type="text" placeholder="Nome do segurado">
    </div>

    <div class="mb-3">
      <label class="form-label">Sexo</label>
      <select formControlName="sexoSegurado" class="form-control">
        <option value="" disabled>Escolha uma opção</option>
        <option *ngFor="let tipo of tipos" [value]="tipo.value">{{tipo.name}}</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Idade</label>
      <input class="form-control" formControlName="idadeSegurado" type="number" placeholder="Idade do segurado" [(ngModel)]="menorIdade">

      <div *ngIf="menorIdade < 18">
        <p class="text-danger"><b>IDADE PRECISA SER MAIOR QUE 18 ANOS</b></p>
      </div>

    </div>

    <div class="mb-3">
      <label class="form-label">Valor</label>
      <input class="form-control" formControlName="valorSegurado" type="text" placeholder="Valor do seguro">
    </div>

    <button (click)="onSubmit()" class="btn btn-primary">Calcular</button>
  </form> 
</div>