<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)" routerLink="/calculadora-media" routerLinkActive="active">1 - Calcular Média</a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)" routerLink="">2 - Calculadora</a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)" routerLink="">3 - Cadastro aluno</a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0)" routerLink="">4 - Apólice Seguro</a></li>
  </ul>
</header>